
/* styles.css */
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    color: #ffffff; /* Color de texto negro */
    background-color: #323332 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

input {
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.input2 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    font-size: 1.5
    vw;
    color: #fff;
    background-color: rgb(28,28,30);
    box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
    border-radius: 0.4vw;
    border: none;
    outline: none;
    padding: 5px;
    margin: 10px;
    width: 300px;
    max-width: 300px;
    transition: .4s;
  }
  
  .input2:hover {
    box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
  }
  
  .input2:focus {
    box-shadow: 0 0 0 .15vw skyblue;
  }
/* Inspired by twitter.com/marina_uiux */

.button {
    font-size: 17px;
    border-radius: 12px;
    background: linear-gradient(180deg, rgb(56, 56, 56) 0%, rgb(36, 36, 36) 66%, rgb(41, 41, 41) 100%);
    color: rgb(218, 218, 218);
    border: none;
    padding: 2px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .button span {
    border-radius: 10px;
    padding: 0.8em 1.3em;
    padding-right: 1.2em;
    text-shadow: 0px 0px 20px #4b4b4b;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    color: inherit;
    transition: all 0.3s;
    background-color: rgb(29, 29, 29);
    background-image: radial-gradient(at 95% 89%, rgb(15, 15, 15) 0px, transparent 50%), radial-gradient(at 0% 100%, rgb(17, 17, 17) 0px, transparent 50%), radial-gradient(at 0% 0%, rgb(29, 29, 29) 0px, transparent 50%);
  }
  
  .button:hover span {
    background-color: rgb(26, 25, 25);
  }
  
  .button-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: repeating-conic-gradient(rgb(48, 47, 47) 0.0000001%, rgb(51, 51, 51) 0.000104%) 60% 60%/600% 600%;
    filter: opacity(10%) contrast(105%);
    -webkit-filter: opacity(10%) contrast(105%);
  }
  
  .button svg {
    width: 15px;
    height: 15px;
  }

/* Agrega la clase qr-container para el espacio del código QR */
.qr-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    width: 300px; /* Ancho y alto iguales para crear un cuadrado */
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

/* Estilo para la imagen del código QR */
.qr-container img {
    max-width: 100%;
    height: auto;
}
